# Secrets
secrets.yaml
secrets.yaml.backup
secrets/
secrets*

# Docker-compose .env file
.env

# No logs
*.log
*.txt

# No databases
*.db*
*.sqlite*

# python
__pycache__

# Appdaemon
appdaemon/conf/compiled
appdaemon/conf/dashboards

# deconz all is generated at start of the container. Settings are saved on stick
deconz/

# home-assistant
.storage/
homeassistant/config/www/
homeassistant/config/custom_components/
homeassistant/config/tts/
*.xml
homeassistant/config/webostv.conf
homeassistant/config/ip_bans.yaml
homeassistant/config/trusted_proxies.yaml
homeassistant/config/.HA_VERSION
homeassistant/config/.ha_run.lock

# node-red (Will be removed soon)
node_red/

# pihole
pihole/

#traefik
shared/.htpasswd
traefik/acme/acme.json
traefik/rules/middleware.yml
traefik/rules/static-routes.yml
traefik/logs/

# vscode
vscode/

*.log*

zwavejs/

airflow/

wireguard/

heimdall/

wordpress_voorvoet/

zookeeper/

kafka_ui/

ssh_honeypot/

kafka_0/
kafka_1/
kafka_2/

radicale/
scavenger/
