# docker-compose .env file
# have this file in your docker settings dir and docker-compose
# will automatically use it.

# Find your user-id and the docker group-id using `id` command in bash
PUID=<user-id>
PGID=<docker-group-id>

# Your time zone, i.e. Europe/Paris
TZ=<time-zone>

# full path of user home dir
USERDIR=<user home dir>

# full path to docker settings dir
DOCKERDIR=<docker setings dir>

# Server ip address of docker host
SERVERIP=<docker host ip>

# Traefik
DOMAINNAME=example.com
LETSENCRYPT_EMAIL=<email for Let's Encrypt registration>
HETZNER_API_TOKEN=<project-scoped token from Hetzner Console>

# ip address to use internally for traefik
TRAEFIKIP=<predefined traefik ip address>

# home-assistant
HAURL=<home assistant url>
