# docker-compose .env file
# have this file in your docker settings dir and docker-compose
# will automatically use it.

# Find your user-id and the docker group-id using `id` command in bash
PUID=<user-id>
PGID=<docker-group-id>

# Your time zone, i.e. Europe/Paris
TZ=<time-zone>

# full path of user home dir
USERDIR=<user home dir>

# full path to docker settings dir
DOCKERDIR=<docker setings dir>

# Server ip address of docker host
SERVERIP=<docker host ip>

# Traefik
DOMAINNAME=example.com
CLOUDFLARE_EMAIL=<cloudflare email address>
CLOUDFLARE_API_KEY=<cloudflare api key>

# ip address to use internally for traefik
TRAEFIKIP=<predefined traefik ip address>

# pi-hole
PIHOLEWEBPASSWORD=<pihole web login password>

# deconz
VNCPASSWORD=<deconz vnc login password>

# home-assistant
HAURL=<home assistant url>

# visual studio code
VSCPASSWORD=<visual studio code password>

# appdaemon
APHATOKEN=<home assistant access api for AppDaemon
APDASHURL=<appdaemon url>
