# Secrets for Home-Assistant and AppDaemon
# symlink this into home assistant config folder and AppDaemon config folder
# ln -s secrets.yaml homeassistant/config/secrets.yaml
# ln -s secrets.yaml appdaemon/conf/secrets.yaml

# homeassistant tab
homeassistantname: <name>
latitude: <latitude>
longitude: <longitude>
elevation: <elevation>
time_zone: <time-zone>
base_url: <base-url>
unit_system: <unit-system>
proxy_ip: <proxy-ip>


# AppDaemon
ha_url: <home-assistant-url>
ha_token: <home-assistant-token>
app_url: <appdaemon base url>
ad_api_port: <appdaemon port>


# influxdb
influxdb_host: <influxdb host>
influxdb_database: <influxdb db>
influxdb_username: <influxdb username>
influxdb_password: <influxdb passwd>


# Telegram api
bottoken: <bot-token>
chatid_dennis: <chatid-dennis>
chatid_kim: <chatid-kim>


# home connect
homeconnectclientid: <home-connect client id>
homeconnectclientsecret: <home-connect client secret>


# mqtt
mqttbroker: <mqtt broker>
mqtt_port: <mqtt port>
mqtt_client_id: <mqtt_client_id_for_appdaemon>


# wol tv control
webostv_mac: <webos_lg_mac_address>
webostv_ip: <webos_lg_ip>


# urls
configurator_url: <hass_configurator_url>
nodered_url: <nodered-url>


# alarm
alarm_name: <alarm-name>


# shelly
portiek_command: <shelly-command-topic>
portiek_state: <shelly-state-topic>
voordeur_command: <shelly-command-topic>
voordeur_state: <shelly-state-topic>
hal_command: <shelly-command-topic>
hal_state: <shelly-state-topic>
serre_command: <shelly-command-topic>
serre_state: <shelly-state-topic>


